body {
    background-color: #f8f9fa; /* Warna putih yang lembut */
    color: #155724; /* Hijau gelap */
}
.table {
    background-color: #ffffff; /* Warna putih untuk tabel */
    border: 1px solid #28a745; /* Warna hijau untuk border tabel */
}
.table th {
    background-color: #28a745; /* Warna hijau untuk header tabel */
    color: #ffffff; /* Warna teks putih untuk header tabel */
}
.container {
    margin-top: 20px;
}